/* Remove Spotify logo and leave space for window buttons */
.spotify-logo--text > path:nth-child(2) {
    display: none;
}
.D_XKXBZDhgpM1KrmKy3O {
    height: 15px;
}

/* Remove 'Install App' button */
div.Tf1tCS2eGCCT5FNgZADx > a:nth-child(1) {
    display: none;
}

/* Make header draggable */
header {
    -webkit-app-region: drag;
}

/* Make any buttons inside the header not dreggable */
header button {
    -webkit-app-region: no-drag;
}
